
    body {
        background-color: #001529;
    }
    /* Add a black background color to the top navigation */
    .topnav {
        overflow: hidden;
        height: 80px;
        
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        height: 80px;
        width: 200px;
        padding-top: 20px;
        text-decoration: none;
        font-size: 25px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #F1F4F6;
        color:#001529;
      }

      .topnav img {
        max-height: 100%;      
      }


      .main-container {
        display: flex;
        background-color: #F1F4F6;
        flex-direction: row;
        max-width: 100%;
        height: 800px;
      }

      .main-container .statistical {
        display: flex;
        max-width: 70%;
        width: 100%;
      }

      .main-container .statistical .sta-title {
        max-width: 100%;
        width: 1000px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0px 6px 25px 0 rgba(0, 0, 0, 0.19);
        margin-top: 40px;
        padding-top: 15px;
        padding-left: 15px;
        font-family:'Courier New', Courier, monospace;
        font-size: 30px;
        background-color: #FFFFFF;
        
      }

      .main-container .statistical .sta-title .sta-detail {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        padding-right: 15px;
      }

      .s-name {
        margin-left: 15px;
        width: 300px;
        text-align: center;
        padding-top: 50px;
        font-size: 25px;
        color: #BEC0C3;
      }

      .s-int {
        margin-left: 15px;
        width: 300px;
        text-align: center;
        padding-top: 50px;
        font-size: 70px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #495057;
      }

      .s-money {
        margin-left: 15px;
        width: 300px;
        text-align: center;
        padding-top: 50px;
        font-size: 70px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #3AC47D;
      }

      .s-money a {
        font-size: 40px;
      }

      .s-per {
        margin-left: 30px;
        width: 300px;
        text-align: center;
        padding-top: 0px;
        font-size: 15px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #3AC47D;
      }

      .s-per a {
        color: #495057;
      }

      .top-customer {
        max-width: 25%;
        width: 1000px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        box-shadow: 0px 6px 25px 0 rgba(0, 0, 0, 0.19);
        margin-top: 40px;
        padding-top: 15px;
        padding-left: 15px;
        font-family:'Courier New', Courier, monospace;
        font-size: 30px;
        background-color: #FFFFFF;
      }

      .top-customer-title {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .top-customer .top-head {
        font-size: 12px;
        color:#001529;
      }
      
      table {
        width: 95%;
        
      }

      .gold {
        text-shadow:  -2px 0 gold, 0 2px gold,      2px 0 gold, 0 -2px gold;
        font-size: 15px;
      }

      .silver {
        text-shadow:  -2px 0 silver, 0 2px silver,      2px 0 silver, 0 -2px silver;
        font-size: 14px;
      }

      .copper {
        text-shadow:  -1px 0 #B87333, 0 1px #B87333,      1px 0 #B87333, 0 -1px #B87333;
        font-size: 13px;
      }

      td {
    
        text-align: center;
      }
    
