<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Website - Admin Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<style>
    body {
        background-color: #001529;
    }
    /* Add a black background color to the top navigation */
    .topnav {
        overflow: hidden;
        height: 80px;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        height: 80px;
        width: 200px;
        padding-top: 20px;
        text-decoration: none;
        font-size: 25px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: #F1F4F6;
        color:#001529;
      }

      img {
        max-width: 100%;
      }

      .main-container {
        display: flex;
        background-color: #F1F4F6;
        flex-direction: row;
        max-width: 100%;
        height: 600px;
      }

    
</style>
<body>
    <header>
        <div class="topnav">
            <a class="logo" style="padding-top: 0px;"><center><img src="../public/image/logo.png"></center></a>
            <a href="/">Home</a>
            <a class="active" href="/products">Products</a>
            <a href="#orders">Orders</a>
            <a href="#customer">Customer</a>
            <a href="#logout" style="margin-left: 300px;">Log out</a>
          </div>
    </header>
    <div class="main-container">
       
    </div>
    
</body>
</html>