<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <style>
    body {
      background-image: url('/image/bg.png');
      background-size: cover;
      background-position: 50% 0%;
      width: 100%;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0;
      font-family: 'Courier New', Courier, monospace;
    }
  </style>
  <body>
    <div class="signup">
      <h1 class="signup-heading">Sign up</h1>

        <label for="email" class="signup-label">Email</label>
        <input type="text" name="email" id="email" class="signup-input" placeholder="">
        <label for="password" class="signup-label">Password</label>
        <input type="password" name="password" id="password" class="signup-input" placeholder="">
        <label for="password" class="signup-label">Confirm Password</label>
        <input type="password" name="password" id="cf-password" class="signup-input" placeholder="">

        <button type="submit" class="signup-submit" id="signup-btn">Sign up</button>
      
      <p class="signup-already">
        <span>Already have an email.  </span>
        <a href="/sign-in" class="signup-link">Sign in</a>
      </p>
    </div>
  </body>
  <script>


    var signup = document.getElementById("signup-btn");
    var email = document.getElementById("email");
    var password = document.getElementById("password");
    var confirmPassword = document.getElementById("cf-password");
    var data;

    function warning() {
      password.classList.remove("signup-input");
      password.classList.add("warning");
      confirmPassword.classList.remove("signup-input");
      confirmPassword.classList.add("warning");
    }
    
    signup.addEventListener("click", async function() {
      if (email.value=='' || password.value=='' || confirmPassword.value == '') alert("Please fill in all the information");
      else {
        if (password.value !== confirmPassword.value) {
          warning();
          alert("Password and confirm password must be the same.");        
        } else {
          data = {
            password: password.value,
            email: email.value
          }
          var check = await fetch("http://localhost:4000/sign-up", {
            method: "POST",
            headers:{
              "Content-Type": "application/json"
            },
            body:JSON.stringify(data)
          })
          var STT = await check.json();
          if (STT == 'User registered successfully') {
            alert(STT);
            window.location = '/sign-in'
          }
          else {
            alert(STT);
            window.location = '/sign-up'
          }
        }
      }
    })
  </script>
</html>